<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jie.druid.mapper.BmsCloudInvoiceDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jie.druid.entity.BmsCloudInvoice">
        <id column="invid" property="invid" />
        <result column="id" property="id" />
        <result column="companyid" property="companyid" />
        <result column="dictid" property="dictid" />
        <result column="expressid" property="expressid" />
        <result column="invrecids" property="invrecids" />
        <result column="invnumber" property="invnumber" />
        <result column="invcode" property="invcode" />
        <result column="invmoney" property="invmoney" />
        <result column="invstatus" property="invstatus" />
        <result column="rejectreason" property="rejectreason" />
        <result column="poststatus" property="poststatus" />
        <result column="postnumber" property="postnumber" />
        <result column="postdate" property="postdate" />
        <result column="invispring" property="invispring" />
        <result column="inputmanid" property="inputmanid" />
        <result column="credate" property="credate" />
    </resultMap>

</mapper>
