<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jie.druid.mapper.ExportDataDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jie.druid.entity.ExportData">
        <id column="id" property="id" />
        <result column="registno" property="registno" />
        <result column="querytime" property="querytime" />
        <result column="vincode" property="vincode" />
        <result column="reqpartname" property="reqpartname" />
        <result column="reqpartno" property="reqpartno" />
        <result column="reqpartprice" property="reqpartprice" />
        <result column="standardpartno" property="standardpartno" />
        <result column="standardprice" property="standardprice" />
        <result column="istrue" property="istrue" />
        <result column="handlercode" property="handlercode" />
        <result column="handlername" property="handlername" />
        <result column="repairfactoryname" property="repairfactoryname" />
    </resultMap>
    <select id="findMingjueList1" resultMap="BaseResultMap">
        select distinct
        mm.registno as registno,
        mm.querytime as querytime,
        mm.vincode as vincode,
        md.reqpartname as reqpartname,
        md.reqpartno as reqpartno,
        md.reqpartprice as reqpartprice,
        md.standardpartno as standardpartno,
        md.standardprice as standardprice,
        pdf.handlercode as handlercode,
        pdf.handlername as handlername,
        pdf.repairfactoryname as repairfactoryname
        from prplbpmmain bpm,prpldeflossmain pdf ,prplcomponent pcp,prpldeflossthirdparty pdt,mingjue_main mm,mingjue_data md
        where bpm.businessid = pdf.id
        and pdf.id = pcp.prpldeflossmainid
        and pdf.prplthirdpartid = pdt.id
        and mm.repartinfoid = md.mingjuemainid
        and bpm.businessno=mm.registno
        <if test="standardpartno != null and standardpartno !=''">
            and md.standardpartno = #{standardpartno}
        </if>
        <if test="reqpartno != null and reqpartno !=''">
            and md.reqpartno = #{reqpartno}
        </if>
        <if test="businessno != null and businessno !=''">
            and bpm.businessno = #{businessno}
        </if>





    </select>
</mapper>
