<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jie.druid.mapper.RiskFeedbackResultDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jie.druid.entity.RiskFeedbackResult">
        <id column="id" property="id" />
        <result column="registno" property="registno" />
        <result column="endtime" property="endtime" />
        <result column="status" property="status" />
        <result column="result" property="result" />
        <result column="receiver" property="receiver" />
        <result column="content" property="content" />
        <result column="mobile" property="mobile" />
        <result column="mode" property="mode" />
        <result column="licenseno" property="licenseno" />
    </resultMap>

</mapper>
