<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jie.druid.mapper.RuleModelResultDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jie.druid.entity.RuleModelResult">
        <id column="id" property="id" />
        <result column="registno" property="registno" />
        <result column="reporttime" property="reporttime" />
        <result column="matchtime" property="matchtime" />
        <result column="model_info_id" property="modelInfoId" />
        <result column="model_param" property="modelParam" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="risk" property="risk" />
        <result column="tip" property="tip" />
        <result column="remark" property="remark" />
        <result column="origin" property="origin" />
        <result column="pg_matchtime" property="pgMatchtime" />
        <result column="ai_proc_time" property="aiProcTime" />
        <result column="ai_proc_result" property="aiProcResult" />
    </resultMap>

</mapper>
